.PageView_header {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.PageView_search {
  width: 297px;
  height: 36px;
  margin-top: 17px;
  margin-left: 19px;
  padding-left: 42px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.Search_icon {
  position: absolute;
  top: 27px;
  left: 35px;
}
.Header_bell_container,
.Header_bell,
.Header_messages {
  display: flex;
}

.Header_bell_container {
  height: 100%;
  align-items: center;
  
}

.Admin_picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(128, 128, 128);
  margin-right: 10px;
}
.Header_messages {
  width: 94px;
  height: 24px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Number_messages{
    position: absolute;
    top: -6px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: #B92B27;
    color: white;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.Header_messages > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.Header_bell {
  width: 110px;
  height: 24px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Number_bell{
    position: absolute;
    top: -6px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: #B92B27;
    color: white;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
.Header_bell > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.Arrow_down_icon {
  margin-right: 20px;
  margin-left: 10px;
}
.Admin_info_header {
  width: 135px;
  height: 40px;
}
.Admin_name,
.Admin_email {
  width: 120px;
  height: 20px;
}
.Admin_name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.Admin_email {
  font-weight: 300;
  font-size: 11px;
  line-height: 20px;
  color: #828282;
}
